<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Balahnin_41Entities" connectionString="metadata=res://*/balahnin_41.csdl|res://*/balahnin_41.ssdl|res://*/balahnin_41.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NENXTXTIW;initial catalog=Balahnin_41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>